body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(190, 190, 190);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

h1, h2 {
  margin: 0;
}
a:link {
  text-decoration: none;
}

main {
  padding: 20px;
}

#search-container {
  margin-bottom: 20px;
}

#search-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

#search-results {
  list-style: none;
  padding: 0;
}

.movie-item {
  margin-bottom: 10px;
}

.movie-item img {
  width: 140px;
  height: 200px;
  margin-right: 10px;
}

#favorites-container {
  border-top: 1px solid #333;
  padding-top: 20px;
}

#favorites-list {
  list-style: none;
  padding: 0;
  margin-left: 10px;
  
}

.favorite-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.favorite-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.favorite-item img {
  width: 80px;
  height: 95px;
  margin-right: 10px;
}

.remove-btn {
  background-color: red;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.favorite-btn{
background-color: coral;
padding: 10px;
border: 0px;
}